%article.article
  = link_to article do
    %h2.article__title= article.title
    %p.article__meta
      %time{datetime: article.date.strftime(@date_format_extended)}
        = article.date.strftime(@date_format)