%header.container
  %nav.nav
    %ul.nav__list
      = nav_link("Articles", "/", active_if: %r{(^|,)\/(,|$)|^\/(article|tag|\d{4})})
      = nav_link("About", "/about/")
      = nav_link("Contact", "/contact/")