---
pageable: true
---

- case page_type
  - when 'day'
    - date = Date.new(year, month, day).strftime('%b %e %Y')
  - when 'month'
    - date = Date.new(year, month, 1).strftime('%b %Y')
  - when 'year'
    - date = year
= partial 'partials/masthead', :locals => { :masthead_title => "Articles in #{date}" }

%section.articles
  - page_articles.each_with_index do |article, i|
    = partial 'partials/article', :locals => {:article => article}

  = partial 'partials/pagination', :locals => { :paginate => paginate, :num_pages => num_pages, :next_page => next_page, :prev_page => prev_page, :page_number => page_number }